@model NFTMarketplace_webapplicaties_opnieuw.Viewmodels.GebruikerListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Gebruikers</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="GrantPermissions">Change Roles</a>
</p>

<table>
    <thead>
        <tr>
            <th class="col-md-4">
                @Html.DisplayNameFor(g => g.Gebruikers[0].Id)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(g => g.Gebruikers[0].Naam)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(g => g.Gebruikers[0].Geboortedatum)
            </th>
            <th class="col-md-2">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var gebruiker in Model.Gebruikers){

            <tr>
                <td>@Html.DisplayFor(modelItem => gebruiker.Id)</td>
                <td>@Html.DisplayFor(modelItem => gebruiker.Naam)</td>
                <td>@Html.DisplayFor(modelItem => gebruiker.Geboortedatum)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@gebruiker.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@gebruiker.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@gebruiker.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
