@model NFTMarketplace_webapplicaties_opnieuw.Viewmodels.ProductDetailsViewModel
@{
    ViewData["Title"] = @Model.Naam;
}
<div class="row">
    <div class="col-md m-5 align-content-center justify-content-center">
        <img src="@Model.Afbeelding" style="width:30vw" />
    </div>
    <div class="col-md m-5 align-items-center justify-content-center">
        <div>
            <h3 class="text-primary">@Model.Naam</h3>
        </div>
        <div>
            <p class="text-primary">@Model.Beschrijving</p>
        </div>
        <div class="row">
            <div class="col-md">
                <p class="text-primary">€ @Model.Prijs</p>
            </div>
            <div class="col-md">
                <form asp-controller="ShoppingCart" asp-action="AddToShoppingCart">
                    <input type="hidden" asp-for="ProductId" />
                    <input type="submit" value="AddToCart" class="btn btn-primary" />
                </form>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md m-5 align-content-center justify-content-center">
        <h3 class="text-primary text-uppercase">PROPERTIES</h3>
        <div class="row">
            @foreach (var productproperties in Model.ProductProperties)
            {
                <div class="col-md-4 bg-dark d-flex align-items-stretch">
                    <div class="card m-1 text-white bg-primary" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-title text-uppercase">@productproperties.Property.Naam</p>
                            <p class="card-text">Rarity: @productproperties.Property.Schaarsheid %</p>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="col-md m-5 align-content-center justify-content-center">
    </div>
</div>
